{% extends "base.html" %}

{% block page_content %}

<! CSS basado en https://www.w3schools.com/w3css/tryit.asp?filename=tryw3css_templates_start_page&stacked=h >

<html lang="en">
<title>Search</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
body,h1,h2,h3,h4,h5,h6,p {font-family: "Lato", sans-serif}
.w3-bar,h1,button {font-family: "Montserrat", sans-serif}
.fa-anchor,.fa-coffee {font-size:200px}
table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}
</style>
<body>

<!-- Navbar -->
<div class="w3-top">
  <div class="w3-bar w3-red w3-card w3-left-align w3-large">
    <a class="w3-bar-item w3-button w3-hide-medium w3-hide-large w3-right w3-padding-large w3-hover-white w3-large w3-red" href="javascript:void(0);" onclick="myFunction()" title="Toggle Navigation Menu"><i class="fa fa-bars"></i></a>
    <a href="/" class="w3-bar-item w3-button w3-padding-large w3-white">Home</a>
  </div>
</div>

<!-- Header -->
<header class="w3-container w3-red w3-center" style="padding:128px 16px">
  <h1 class="w3-margin w3-jumbo">Tarea 1 IIC3103</h1>
  <p class="w3-xlarge">María Bernardita van Wersch</p>
</header>

<!-- First Grid -->
<div class="w3-row-padding w3-padding-64 w3-container">
  <div class="w3-content">
    <div class="w3-twothird">
      <h1>Search result</h1>
      <h3>You searched for: {{ words }} </h3>
        <table>
              <tr>
                  <th style="background-color:#EAEAEA"><strong>Episodes</strong></th>
              </tr>
              <ul>
              {% for e in episodes_info %}
                  <tr>
                      <td><a href="/episode/?id={{ e.id }}">{{ e.name }}</a></td>
                  </tr>
              {% endfor %}
              </ul>
          </table>

          <table>
                  <tr>
                      <th style="background-color:#EAEAEA"><strong>Characters</strong></th>
                  </tr>
                  <ul>
                  {% for c in characters_info %}
                      <tr>
                          <td><a href="/character/?id={{ c.id }}">{{ c.name }}</a></td>
                      </tr>
                  {% endfor %}
                  </ul>
          </table>

          <table>
                  <tr>
                      <th style="background-color:#EAEAEA"><strong>Locations</strong></th>
                  </tr>
                  <ul>
                  {% for l in locations_info %}
                      <tr>
                          <td><a href="/location/?id={{ l.id }}">{{ l.name }}</a></td>
                      </tr>
                  {% endfor %}
                  </ul>
          </table>
      </div>
    </div>
  </div>

<div class="w3-container w3-black w3-center w3-opacity w3-padding-64">
  <h2> Do a search in the site </h2>
  <p> It will display every result that has your search in his name </p>
  <form class="example" action="/search">
    <input type="text" placeholder="Search.." name="words" value="{{words}}">
    <button type="submit"><i class="fa fa-search"></i></button>
  </form>
</div>


</body>
</html>


{% endblock %}
